* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
}

.navfirstspace {
    background-color: #333;
    margin: 0px;
    padding: 0px;
}

.navSecondspace {
    margin: 0px;
    padding: 0px;
}

.topnav {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 8px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 24px;
    margin: 25px;
    margin-right: 70px
}

li a:hover {
    color:#ebebeb;
    text-decoration: none;
    background-color: #111;
} */


.silder {
    width: 100%;
    background-color: teal;
}

.Nproduct {
    width: 100%;
    height: 120px;

}

.Nproduct pre {
    text-align: center;
    font-size: 24px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    display: block;
    padding-top: 20px;

}

.heading {
    width: 250px;
    margin: 10px auto 10px auto;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    text-align: center;
    border-top: 2.9px solid #ebebeb;
    border-bottom: 2.9px solid #ebebeb;
}

#onerow {
    
    overflow: auto;
    padding: 25px;

}

h2 a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}

h2 a:hover {
    text-decoration: none;


}

h2 {
    color: black;
    text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.first,
.Second,
.thired,
.four {
    margin: 15px 20px 15px 40px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    background: #ebebeb;

}

.first {
    width: 256px;
    background: #ebebeb;

}

.Second {
    width: 256px;
}

.thired {
    width: 256px;


}

.four {
    width: 256px;



}

footer {
    width: 100%;
    background-color: #333;
    height: 100px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}


/* contact us css */
.Headingss {
    width: 1000px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-bottom: 2px solid #ebebeb;
    margin: 10px auto 10px auto;
    text-align: center;
    color: #7e7f82;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    animation: text 3s 1;
    font-size: 40px;
    border-bottom: 3px solid #919396;
    
}

.Contact-form-div {
    margin: 10px auto 10px auto;
    background-color: transparent;
    text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.Heading-Hello h1 {
    
    color: #B2B1B0;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    font-size: 32px;
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -ms-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
}

.Heading-Hello h2 {
    font-size: 16px;
    color: #B2B1B0;
}

form {
    margin: 20px;
}

.form-control {
    width: 300px;
    background: transparent;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #929599;
    color: #7c7f82;
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    height: 45px;
}

.form-controlsubmit {
    width: 140px;
    background: black;
    border-color: transparent;
    color: white;
    font-size: 20px;
    
    font-weight: bold;
    height: 50px;
    margin: 5px;
    opacity: 0.8;
}

.form-controlsubmit:hover {
    cursor: pointer;
    border: 1px solid black;
    background-color: #f2f2f2;
    color: black;
    opacity: 0.9;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.map{
   margin: 10px auto 10px auto;
    border: 1px solid black;
}

